body{
	font-family: 'Helvetica Neue', Helvetica, arial, sans-serif;
	font-size: 16px;
	margin: 0;
	background-color: #F7F7F7;
	font-weight: 600px;
	line-height: 30px;
}

h1{
	font-size: 45px;
}

h2{
	font-size: 35px;
}
.header{
	width: 100%;
	min-height: 700px;
	background: no-repeat center bottom scroll; 
	background-size: cover; 
	margin: 0;
	padding: 0;
	position: relative;
}

.header-img{
	width: 100%;
	z-index: -1;
	height: 100%;
	margin: 0;
	padding: 0;
	min-height: 700px;
	background: no-repeat center bottom scroll; 
	background-size: cover; 
	position: absolute;
	background-image: url('http://www.brooklynstreetart.com/theblog/wp-content/uploads/2010/07/brooklyn-street-art-907-ufo-sadue-jaime-rojo-web.jpg');
}

.nav {
	display: inline;
	position: absolute;
	background-color: rgba(255, 255, 255, .75);
	margin-top: 220px;
	z-index: 10;
	width: 350px;
	margin-left: 10px;
	border-radius: 5px;
}

.nav a{
	text-decoration: none;
	color: #252525;

}

.nav a:hover{
	color: #551A8B
}

.nav ul{
	list-style-type: none;
	padding-left: 70px;

}

.nav li {
	display: inline;
	font-weight: 700;
	font-size: 18px;
	padding: 15px;
}

.logo{
	width:350px;
	position: absolute;
	margin-top: 10px;
	margin-left: 10px;
	padding: 0;
	background-color: rgba(255, 255, 255, .75);
	border-radius: 5px;
}

.logo img{
	width:75%;
	padding-left: 45px;
	padding-bottom: 15px;
}

.slider-content{
	color: #000;
	float: right;
	background-color: rgba(255, 255, 255, .85);
	padding: 25px;
	width: 400px;
	font-size: 16px;
	position: absolute;
	margin-top: 350px;
	margin-left: 700px;
	border-radius: 5px;
}

.slider-content h2{
	color: #551A8B;
	margin-top: 0;
	margin-bottom: 10px;
}

.content-wrapper{
	margin: 75px;
	min-height: 300;
	margin-top: 100px;
	color: #252525;
}

.video{
	float: right;
	width: 45%;
	margin-right: 50px;
	margin-top: 100px;
	z-index: 10;
}

.content{
	width: 45%;
	float: right;
	margin-left: -55;
	margin-right:20px;
}

.content h1{
	color: #551A8B;
	margin-top: 0;
}

.content img{
	width:80%;
	margin: 0 auto;
}

/* Contact Page */ 



.contact{
	width: 100%;
	min-height: 700px;
	background: no-repeat center bottom scroll; 
	background-size: cover; 
	background-image: url('/static/dondi.jpg');
	margin: 0;
	padding: 0;
	position: relative;
}

.contact-form{
	width:100%;
	margin:50px;
}

.form-inputs{
	display: inline-block;
	margin-right: 150px;
}

.row{
	margin:50px;
}

.contact-form label{
	margin-top: 25px;
	font-size: 24px;
	font-weight: 800;
	color: #252525;
	
}

.contact-form input {
	padding: 10px;
	border-radius: 5px;
	margin:10px;
	margin-left: 0;
	width: 250px;
	border: 1px solid #252525;
}

.contact-form textarea {
	padding: 50px;
	border-radius: 5px;
	margin:10px;
	margin-left: 0;
	width: 650;
	border: 1px solid #252525;

}

.submit-btn input{
	padding: 15px;
	color: #252525;
	background-color: rgba(255, 255, 255, 1);
	border: 1px solid #252525;
	border-radius: 10px;
	font-weight: 800;
	font-family: 'Helvetica Neue', Helvetica, arial, sans-serif;
	font-size: 18px;
	width: 175px;
}

.submit-btn input:hover{
	background-color: #551A8B;
	color: #fff;
}

.help-inline{
	border-radius: 5px;
	padding: 5px;
	color: #b20000;
	background-color: #ff9999
}

.signup{
	float: left;
	width:45%;
}

.signup label{
	margin-top: 25px;
	font-size: 24px;
	font-weight: 800;
	color: #252525;
	
}

.signup input {
	padding: 10px;
	border-radius: 5px;
	margin:10px;
	margin-left: 0;
	width: 250px;
	border: 1px solid #252525;
	margin-bottom: 0;
}
.signup select{
	padding: 10px;
	border-radius: 5px;
	margin:10px;
	margin-left: 0;
	margin-bottom: 0;
	width: 250px;
	border: 1px solid #252525;
	height:35px;
}

.signup textarea {
	padding: 50px;
	border-radius: 5px;
	margin:10px;
	margin-left: 0;
	margin-bottom: 0;
	width: 650;
	border: 1px solid #252525;

}

#ss-submit {
	padding: 15px;
	color: #252525;
	background-color: #fff;
	border: 1px solid #252525;
	border-radius: 10px;
	margin-bottom: 0;
	font-weight: 800;
	font-family: 'Helvetica Neue', Helvetica, arial, sans-serif;
	font-size: 18px;
	width: 175px;
}

#ss-submit:hover{
	background-color: #551A8B;
	color: #fff;
}

.submit-btn input:hover{
	background-color: #551A8B;
	color: #fff;
}

.required-message{
	font-size: 14px; 
	font-color: #b3b3b3;
}

.ss-secondary-text{
	font-size: 14px; 
	font-color: #b3b3b3;
}

.ss-form-question{
	display: inline-block;
	margin-right: 50px;
	margin-bottom: 50px;
}