{% extends 'base.html' %}
{% block content %}
<script type="text/javascript" src="{{ url_for('static', filename='slider.js') }}"></script>
<div class="header">
	<div class="header-img">
	</div>
	<div class="logo">
		<a href="{{ url_for('index') }}">
			<img id="logos" src="{{ url_for('static', filename='graffiti_dondi_large.png') }}">
		</a>
	</div>
	<div class="nav">
		<ul>
			<li><a href="{{ url_for('index') }}">BXD</a></li>
			<li><a href="http://www.meetup.com/TheBronxDigitalMeetup/" target="_blank">Meetup</a></li>
			<li><a href="{{ url_for('contact') }}">Contact</a></li>
		</ul>
	</div>
	<div class="slider-content">
		<h2 id="slider-title">Preparing our youth for the present and future:</h2>
		<p id="slider-text">The tech sector is among the highest-paying and fastest-growing industries. By 2020 there will be at least 2 million tech jobs with 291,000 jobs in New York City, representing $30 billion in wages each year.</p>
	</div>
	<!--
	<div class="video">
		<iframe src="https://player.vimeo.com/video/36732688" width="700" height="425" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe> 
	</div>
-->
</div>
<div class="content-wrapper clearfix">
	<div class="signup">
		<h2>Sign Up and get involved!</h2>
		<form action="https://docs.google.com/forms/d/1-NzAyaQWrbm76RdqyUG05UF87G8Yx6ub8cueh4wSnVQ/formResponse" method="POST" id="ss-form" target="_self" onsubmit="">
			<ol role="list" class="ss-question-list" style="padding-left: 0">
				<div class="ss-form-question errorbox-good" role="listitem">
					<div dir="ltr" class="ss-item ss-item-required ss-text">
						<div class="ss-form-entry">
							<label class="ss-q-item-label" for="entry_1808259408">
								<div class="ss-q-title">
									First Name 
									<label for="itemView.getDomIdToLabel()" aria-label="(Required field)">
									</label>
									<span class="ss-required-asterisk" aria-hidden="true">
										*
									</span>
								</div>
								<div class="ss-q-help ss-secondary-text" dir="ltr">
								</div>
							</label>
							<input type="text" name="entry.1808259408" value="" class="ss-q-short" id="entry_1808259408" dir="auto" aria-label="First Name   " aria-required="true" required="" title="" style="background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAABHklEQVQ4EaVTO26DQBD1ohQWaS2lg9JybZ+AK7hNwx2oIoVf4UPQ0Lj1FdKktevIpel8AKNUkDcWMxpgSaIEaTVv3sx7uztiTdu2s/98DywOw3Dued4Who/M2aIx5lZV1aEsy0+qiwHELyi+Ytl0PQ69SxAxkWIA4RMRTdNsKE59juMcuZd6xIAFeZ6fGCdJ8kY4y7KAuTRNGd7jyEBXsdOPE3a0QGPsniOnnYMO67LgSQN9T41F2QGrQRRFCwyzoIF2qyBuKKbcOgPXdVeY9rMWgNsjf9ccYesJhk3f5dYT1HX9gR0LLQR30TnjkUEcx2uIuS4RnI+aj6sJR0AM8AaumPaM/rRehyWhXqbFAA9kh3/8/NvHxAYGAsZ/il8IalkCLBfNVAAAAABJRU5ErkJggg==); background-attachment: scroll; background-position: 100% 50%; background-repeat: no-repeat;">
							<div class="error-message" id="1699352149_errorMessage">
							</div>
							<div class="required-message">
								This is a required question
							</div>
						</div>
					</div>
				</div> 
				<div class="ss-form-question errorbox-good" role="listitem">
					<div dir="ltr" class="ss-item ss-item-required ss-text">
						<div class="ss-form-entry">
							<label class="ss-q-item-label" for="entry_200724536">
								<div class="ss-q-title">
									Last Name 
									<label for="itemView.getDomIdToLabel()" aria-label="(Required field)">
									</label>
									<span class="ss-required-asterisk" aria-hidden="true">
										*
									</span>
								</div>
								<div class="ss-q-help ss-secondary-text" dir="ltr">
								</div>
							</label>
							<input type="text" name="entry.200724536" value="" class="ss-q-short" id="entry_200724536" dir="auto" aria-label="Last Name   " aria-required="true" required="" title="">
							<div class="error-message" id="1581728051_errorMessage">
							</div>
							<div class="required-message">
								This is a required question
							</div>
						</div>
					</div>
				</div>  
				<div class="ss-form-question errorbox-good" role="listitem">
					<div dir="ltr" class="ss-item ss-item-required ss-text">
						<div class="ss-form-entry">
							<label class="ss-q-item-label" for="entry_343698648">
								<div class="ss-q-title">
									Email Address
									<label for="itemView.getDomIdToLabel()" aria-label="(Required field)">
									</label>
									<span class="ss-required-asterisk" aria-hidden="true">
										*
									</span>
								</div>
								<div class="ss-q-help ss-secondary-text" dir="ltr">
								</div>
							</label>
							<input type="text" name="entry.343698648" value="" class="ss-q-short" id="entry_343698648" dir="auto" aria-label="Email Address  " aria-required="true" required="" title="">
							<div class="error-message" id="764923409_errorMessage">
							</div>
							<div class="required-message">
								This is a required question
							</div>
						</div>
					</div>
				</div> 
				<div class="ss-form-question errorbox-good" role="listitem">
					<div dir="ltr" class="ss-item ss-item-required ss-text">
						<div class="ss-form-entry">
							<label class="ss-q-item-label" for="entry_1330374036">
								<div class="ss-q-title">
									Zip Code 
									<label for="itemView.getDomIdToLabel()" aria-label="(Required field)">
									</label>
									<span class="ss-required-asterisk" aria-hidden="true">
										*
									</span>
								</div>
								<div class="ss-q-help ss-secondary-text" dir="ltr">
								</div>
							</label>
							<input type="text" name="entry.1330374036" value="" class="ss-q-short" id="entry_1330374036" dir="auto" aria-label="Zip Code   " aria-required="true" required="" title="">
							<div class="error-message" id="1255685538_errorMessage">
							</div>
							<div class="required-message">
								This is a required question
							</div>
						</div>
					</div>
				</div> 
				<div class="ss-form-question errorbox-good" role="listitem">
					<div dir="ltr" class="ss-item ss-item-required ss-select">
						<div class="ss-form-entry">
							<label class="ss-q-item-label" for="entry_430124038">
								<div class="ss-q-title">
									Affiliation
									<label for="itemView.getDomIdToLabel()" aria-label="(Required field)">
									</label>
									<span class="ss-required-asterisk" aria-hidden="true">
										*
									</span>
								</div>
								<div class="ss-q-help ss-secondary-text" dir="ltr">
								</div>
							</label>
							<select name="entry.430124038" id="entry_430124038" aria-label="Affiliation  " aria-required="true" required="">
								<option value="">
								</option>
								<option value="Student">
									Student
								</option> 
								<option value="Parent">
									Parent
								</option> 
								<option value="Educator">
									Educator
								</option> 
								<option value="Tech professional">
									Tech professional
								</option> 
								<option value="Entrepreneur/Business owner">
									Entrepreneur/Business owner
								</option> 
								<option value="Volunteer">
									Volunteer
								</option> 
								<option value="Government official">
									Government official
								</option> 
								<option value="Philanthropist/Investor">
									Philanthropist/Investor
								</option> 
								<option value="Bronx resident">
									Bronx resident
								</option>
							</select>
							<div class="required-message">
								This is a required question
							</div>
						</div>
					</div>
				</div> 
				<div class="ss-form-question errorbox-good" role="listitem">
					<div dir="ltr" class="ss-item  ss-text">
						<div class="ss-form-entry">
							<label class="ss-q-item-label" for="entry_947012240">
								<div class="ss-q-title">
									Organization Name 
								</div>
							</label>
							<input type="text" name="entry.947012240" value="" class="ss-q-short" id="entry_947012240" dir="auto" aria-label="Organization Name (If applicable)  " title="">
							<div class="error-message" id="387407698_errorMessage">
							</div>
							<div class="required-message">
								This is a required question
							</div>
						</div>
					</div>
				</div> 
				<div class="ss-form-question errorbox-good" role="listitem">
					<div dir="ltr" class="ss-item  ss-text">
						<div class="ss-form-entry">
							<label class="ss-q-item-label" for="entry_317847549">
								<div class="ss-q-title">Title at Organization 
								</div>
							</label>
							<input type="text" name="entry.317847549" value="" class="ss-q-short" id="entry_317847549" dir="auto" aria-label="Title at Organization  (If applicable)  " title="">
							<div class="error-message" id="66026499_errorMessage">
							</div>
							<div class="required-message">
								This is a required question
							</div>
						</div>
					</div>
				</div> 
				<div class="ss-form-question errorbox-good" role="listitem">
					<div dir="ltr" class="ss-item  ss-paragraph-text">
						<div class="ss-form-entry">
							<label class="ss-q-item-label" for="entry_1045918573">
								<div class="ss-q-title">Comment
								</div>
								<div class="ss-q-help ss-secondary-text" dir="ltr">
								</div>
							</label>
							<textarea name="entry.1045918573" rows="8" cols="0" class="ss-q-long" id="entry_1045918573" dir="auto" aria-label="Comment  ">
							</textarea>
							<div class="error-message" id="1109401231_errorMessage">
							</div>
							<div class="required-message">
								This is a required question
							</div>
						</div>
					</div>
				</div>
				<input type="hidden" name="draftResponse" value="[,,&quot;-7760900094447868974&quot;]
		">
				<input type="hidden" name="pageHistory" value="0">


				<input type="hidden" name="fbzx" value="-7760900094447868974">

				<div class="ss-item ss-navigate">
					<table id="navigation-table">
						<tbody>
							<tr>
								<td class="ss-form-entry goog-inline-block" id="navigation-buttons" dir="ltr">
									<input type="submit" name="submit" value="Submit" id="ss-submit" class="jfk-button jfk-button-action ">
								</td>
							</tr>
						</tbody>
					</table>
				</div>
			</ol>
		</form>
	</div> 
	<div class="content home">
		<h2>The Bronx Digital Pipeline</h2>
		<p>
			The Bronx Digital Pipeline (BxDP), lead by <a href="http://theknowledgehouse.org">The Knowledge House</a> in partnership with <a href="http://yeswecode">#YesWeCode</a> and the <a href="http://www.ssn-nyc.org/">Student Success Network</a>, is a long term project of the <a href="http://risingtogether.org/">South Bronx Rising Together collective impact initiative.</a> 
		</p> 
		<img src="{{ url_for('static', filename='workshop.jpeg') }}">
		<p>
			<strong>35% of young adults in the Bronx are disconnected from school and work. <br><br><h3> BxDP aims to:</h3></strong>  
		</p>
		<ol>
			<li>Increase tech literacy and resources to Bronx youth in order to cultivate their interest in tech careers</li>
			<li>
				Strengthen the school to career tech pipeline by connecting the K-12 tech educators in the Bronx like <a href="https://www.tealsk12.org/">TEALS</a>, <a href="http://www.weare.ci/programs/code-interactive/">Code/Interactive</a>, and <a href="http://digitalready.net/">Digital Ready</a> schools to workforce development organizations like The Knowledge House, and <a href="http://perscholas.org/">Per Scholas</a> 
			</li>
			<li>
				Connect young adults to college access resources, internships, networking opportunities and job matching services for entry and persistence in the technology ecosystem. 
			</li>
		</ol>
		
	</div>
</div>
{% endblock %}

